#!/bin/sh

set -e

export AWS_ACCESS_KEY_ID="{{ provision_aws_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ provision_aws_secret_key }}"
export AWS_DEFAULT_REGION="{{ provision_aws_region }}"

if [ "$#" -ne 1 ]
then
  echo "Usage: `basename "$0"` module_folder"
  exit 1
fi

cd $1

terraform get -update
terraform apply -var-file=../terraform.tfvars

terraform remote config -backend=s3 -backend-config="bucket={{ provision_state_bucket }}" -backend-config="key=$1.tfstate"
