#!/bin/sh

set -e

export AWS_DEFAULT_REGION="{{ provision_aws_region }}"

if [ "$#" -ne 1 ]
then
  echo "Usage: `basename "$0"` module_folder"
  exit 1
fi

cd $1

terraform get -update
terraform plan --module-depth=-1 -var-file=../terraform.tfvars
